@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/Inter/Inter_Variable.ttf") format("truetype");
}

.footer {
    grid-area: footer;
    background-color: #212529;
    color: #CED4DA;
    width: 100%;
    padding: 1rem 0 0 0;
    /* box-shadow: 0 -2px 4px #A9D5F2; */
    border-top: 1px solid #F8F9FA;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Inter', sans-serif;
    /* font-weight: 300; */
}

.contactMeWrapper {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    /* width: fit-content; */
    padding: 0 4rem;
}

.socialIconWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.link1:hover, .link2:hover, .link3:hover, .link4:hover{
    color: #FB8122;
    color: #EF4F1F;
}

.socialIconLink {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #CED4DA;
    padding: 0.25rem 0;
}

.socialName {
    margin: 0;
    font-weight: 300;
    font-size: 1.5rem;
    padding: 0 0.25rem 0 0;
}

.socialIcon {
    width: 2rem;
    height: 2rem;
    margin: 0 0.25rem;
}

.footerBottom {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
}

.contactMeHeader {
    margin: 0 0 1rem 0;
    padding: 0 1rem 0 0;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    /* font-family: 'Verdana', sans-serif; */
}

.email {
    margin: 0.25rem 0;
    font-size: 1rem;
}

.emailHeaders {
    display: flex;
}

.headerInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}

.firstHeaderInput {
    padding-left: 0;
}

.headerInput label {
    padding: 0 0 0.5rem 0;
    font-weight: 300;
}

.headerInput input {
    width: 10rem;
    border-radius: 0.2rem;
    border: none;
    font-size: 0.75rem;
}

.emailMessage {
    padding: 0 1rem 0 0;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.emailMessage label {
    padding: 0 0 0.5rem 0;
    font-weight: 300;
    text-align: center;
}

.emailMessage textarea {
    margin: 0;
    border-radius: 0.2rem;
    border: none;
    font-size: 0.75rem;
}

.emailSubmit {
    display: flex;
    justify-content: center;
    padding: 0 1rem 0 0;
    margin: 1rem 0;
}

.emailSubmit input {
    background: none;
    /* color: #239DFB;
    color: #EF4F1F; */
    color: #CED4DA;
    border-radius: 0.5rem;
    border: 0.2rem solid #738290;
    border: 0.15rem solid #495057;
    font-size: 1rem;
    /* font-family: 'Raleway', sans-serif; */
    font-weight: 300;
    padding: 0.25rem 2rem;
    cursor: pointer;
}

.emailSubmit input:hover {
    /* font-weight: 500; */
    /* background-color: #FEF5F1; */
    color: #EF4F1F;
    /* border: 0.15rem solid #EF4F1F; */
}

.copyright, .websiteCode {
    margin: 1rem 0;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    color: #FEF5F1;
}

.websiteCode {
    color: #239DFB;
    /* color: #00678F; */
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .contactMeWrapper {
        padding: 0 2rem;
    }
    
    .footerBottom {
        padding: 0 3rem 0 3rem;
    }
}

@media screen and (max-width: 400px) {
    .contactMeWrapper {
        padding: 0 0.5rem;
    }
    
    .footerBottom {
        padding: 0 1.5rem 0 1.5rem;
    }

    .headerInput input {
        width: 7rem;
    }
}