.footer {
    grid-area: footer;
    background-color: #080628;
    background-color: #061926;
    background-color: #1f2833ff;
    width: 100%;
    padding: 1rem 0 0 0;
    /* box-shadow: 0 -2px 4px #A9D5F2; */
    border-top: 1px solid white;
    font-family: 'Raleway', sans-serif;
}

.contactMeWrapper {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    /* width: fit-content; */
    padding: 0 3rem;
}

.socialIconWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 1rem 0 0;
}

.link1:hover, .link2:hover, .link3:hover{
    color: #FB8122;
}

.socialIconLink {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fffffaff;
    padding: 0.25rem 0;
}

.socialName {
    margin: 0;
    font-weight: 400;
    padding: 0 0.25rem 0 0;
}

.socialIcon {
    width: 2rem;
    height: 2rem;
    margin: 0 0.25rem;
}

.footerBottom {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 0 6rem 0 6rem;
}

.contactMeHeader {
    margin: 0.25rem 0;
    font-size: 1.25rem;
    text-align: center;
    /* font-family: 'Verdana', sans-serif; */
}

.email {
    margin: 0.25rem 0;
    font-size: 1rem;
}

.emailHeaders {
    display: flex;
}

.headerInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    
}

.headerInput input {
    width: 10rem;
    border-radius: 0.2rem;
    border: none;
}

.emailMessage {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.emailMessage label {
    padding: 0.2rem 0;
}

.emailMessage textarea {
    margin: 0;
    border-radius: 0.2rem;
    border: none;
}

.emailSubmit {
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    padding: 0.5rem 0 1rem 0;
    /* cursor: pointer; */
}

.emailSubmit input {
    background: none;
    color: #239DFB;
    border-radius: 0.5rem;
    border: 0.2rem solid #738290;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}

.copyright, .websiteCode {
    margin: 1rem 0;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    color: lightgrey;
}

.websiteCode {
    color: #239DFB;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .contactMeWrapper {
        padding: 0 2rem;
    }
    
    .footerBottom {
        padding: 0 3rem 0 3rem;
    }
}

@media screen and (max-width: 400px) {
    .contactMeWrapper {
        padding: 0 0.5rem;
    }
    
    .footerBottom {
        padding: 0 1.5rem 0 1.5rem;
    }

    .headerInput input {
        width: 7rem;
    }
}