.navi { 
    grid-area: header; 
    /* height: 100%; */
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center; 

}

.navi_btns img {
    max-width: 25px;
}

.header {
    /* background-color: #121111; */
    background: #051622;
    background: #061926;
    position: fixed;
    top: 0;
    z-index: 3;
    /* visibility: hidden; */
    /* box-shadow: 0 1px 4px white; */
    border-bottom: 1px solid #fffffaff;
}

.menuButton {
    visibility: hidden;
    position: absolute;
}

.headerInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headerName {
    font-size: 2.5rem;
    opacity: 0.75;
    /* visibility: hidden; */
    position: relative;
    top: -150px;
}

.headerNameMobile {
    visibility: hidden;
    position: absolute;
    left: -20rem;
    background: none;
    border: none;
    color: #fffffaff;
    opacity: 0.75;
    font-size: 2.5rem;
}

.personalPicButton {
    background: none;
    border: none;
    width: fit-content;
    padding: 0;
    margin: 0.5rem 4rem;
}

.personalPic {
    width: 5rem;
    height: 5rem;
    /* margin: 0.5rem 2rem; */
    border-radius: 0.5rem;
    border: 3px solid #124F7B;
    visibility: visible;
}

.logos {
    position: relative;
}

.headerLogos {
    max-width: 70px;
    margin: 10px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip + .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -65px;
    margin-bottom: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover + .tooltiptext {
    visibility: visible;
    opacity: 1;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.btn_wrap {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    height: 30%;
    /* animation: fadeOut 1s; */
    /* transition-delay: 1s; */
    /* visibility: hidden; */
    /* margin-right: 8vw; */
}

.btn_wrap a {
    border: none;
    background: none;
    text-decoration: none;
    color: #FEFEFE;
    margin: 0 2vw;
    opacity: 0.75;
    font-size: 2.5rem;
}

.headerBtns, .headerName {
    border: none;
    background: none;
    text-decoration: none;
    color: #FEFEFE;
    margin: 0 2rem;
    opacity: 0.75;
    font-size: 2.5rem;
    font-family: 'Rubik', sans-serif;
}

.headerName {
    margin-left: 4rem;
}

.rightMostHeaderBtn {
    margin-right: 4rem;
}



.hamburgerMenuWrapper {
    position: absolute;
    visibility: hidden;
    /* visibility: hidden; */
    /* display: flex;
    align-items: flex-start; */
}

.hamburgerMenu {
    transform: translate(250%, 0);
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.hamburgerBtns {
    width: 100%;
    font-size: 2rem;
    background: none;
    border: 0.25rem solid #738290;
    /* border-bottom: 0.25rem solid #738290; */
    border-radius: 0.5rem;
    color: #239DFB;
    margin-bottom: 1rem;
    text-align: center;
    text-decoration: none;
}

.menuBar {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #738290ff;
    border-radius: 1rem;
    margin: 6px 0;
    transition: 0.6s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    transform: rotate(45deg) translate(-1px, 1px);
}

.change .bar3 {
  /* -webkit-transform: rotate(45deg) translate(-8px, -8px); */
  transform:  translate(0, 8px);
  opacity: 0;
}

@media screen and (max-width: 600px) {
    .header {
        justify-content: space-between;
    }
    .headerInfo {
        position: absolute;
        left: -600px;
    }
    .headerNameMobile {
        visibility: visible;
        position: relative;
        left: 0;
        padding: 0 0 0 2rem;
        z-index: 5;
    }
    .menuButton {
        position: relative; 
        visibility: visible;
        padding: 0 2rem 0 0;
    }

    .change .hamburgerMenu {
        visibility: visible;
        transform: translate(100%, 0);
    }

    .hamburgerMenu {
        transition: 1s;
        position: absolute;
        /* visibility: visible; */
        display: flex;
        flex-direction: column;
        background-color: #061926;
        height: 100vh;
        width: 100vw;
        /* border-left: 1px solid #fffffaff; */
        /* transform: translate(100%, 0); */
    }
    
    .personalPic {
        visibility: hidden;
    }

    .btn_wrap {
        position: absolute;
        left: -600px;
    }

    .menuButton {
        z-index: 5;
    }
}

@media screen and (max-width: 400px) {
    .headerNameMobile {
        padding: 0 0 0 1rem;
    }
    .menuButton {
        padding: 0 1rem 0 0;
    }
}