@font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono/fonts/webfonts/JetBrainsMono-Regular.woff2") format("woff2");
}

.project0 {
    border-radius: 25px;
    background-color: #FEFEFE;
    opacity: 0.75;
    width: 75%;
    color: black;
    /* box-shadow: 10px 5px 5px grey; */
    /* filter: blur(1px); */
}


.projectTitle {
    margin-top: 90px;
    font-size: 6rem;
    width: min-content;
    /* visibility: hidden; */
    font-family: 'Glegoo', serif;
    white-space: pre;
    color: #FB8122;
    position: relative;
}

.projectHeader {
    font-size: 4rem;
    margin-bottom: 20px;
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

.projectLanguages {
    font-size: 2vw;
    margin: 20px 0;
    font-family: "JetBrains Mono";
}

.projectDes {
    font-size: 1.5rem;
    font-family: 'Titillium Web', sans-serif;
}

.goatifyComputer {
    height: 20rem;
    border-radius: 5px;
    /* margin-left: 45vw; */
}

.projectBtnWrapper {
    display: flex;
    justify-content: space-around;
}

.projectButton {
    text-decoration: none;
    background-color: gray;
    color: black;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
    padding: 5px 10px;
}

.project2 {
    margin-bottom: 0;
}

.projectLibraryWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toProjectLibraryHeader {
    margin-top: 0px;
    font-size: 4rem;
    width: min-content;
    /* text-align: center; */
    /* justify-items: center;
    align-items: center; */
    /* visibility: hidden; */
    font-family: 'Glegoo', serif;
    white-space: pre;
    color: #239DFB;
    cursor: pointer;
    /* opacity: 0.75; */
    text-decoration: none;
    border: 0.25rem solid #738290;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
}

.toProjectLibraryHeader:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .project_wrap {
        grid-template-areas: 
            "des"
            "visual"
            "arrow";
        justify-items: flex-start;
        border-radius: 1rem;
    }
    .projectTitle {
        font-size: 5rem;
    }
    .des {
        display: flex;
        flex-direction: column;
        width: 250%;
    }
    .arrowWrap {
        width: 250%;
    }
}

@media screen and (max-width: 400px) {
    .projectTitle {
        font-size: 4rem;
    }

    .toProjectLibraryHeader {
        font-size: 2rem;
    }
}

