@font-face {
    font-family: "JetBrains Mono";
    src: url("/assets/fonts/JetBrainsMono/fonts/webfonts/JetBrainsMono-Regular.woff2") format("woff2");
}


html {
    box-sizing: border-box;
    overflow-x: hidden;
    font-size: 1vw;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #98C1D9; 
    color: #293241;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

button, .menuButton {
    cursor: pointer;
}

.projectLibraryWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.projectLibraryTitle {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 4rem 2rem;
    text-align: center;
}

.allProjects_wrap {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 0 0 1rem 0;
}

.welcomeProjectLibrary {
    margin-top: 4rem;
}


.projectLibraryHeaderName {
    font-size: 2.5rem;
    opacity: 0.75;
    /* visibility: hidden; */
    position: relative;
    left: 6rem;
    background: none;
    border: none;
    color: #fffffa;
}

.projectBlock {
    height: 20rem;
    width: 20rem;
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    border-radius: 5px;
}

.projectHidden {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectImage{
    height: 20rem;
    width: 20rem;
    object-fit: cover;
    position: absolute;
    z-index: 0;
    border-radius: 5px;
}


.projectBlockTitles {
    font-size: 3.5rem;
    z-index: 1;
    visibility: hidden;
    font-family: 'JetBrains Mono';
    color: white;
    margin: 0;
}

.blackText {
    color: black;
}

.projectBlock:hover .projectImage {
    filter: blur(30px);
}

.projectBlock:hover .photoCodeLogo {
    visibility: visible;
}

.projectBlock:hover .projectBlockTitles {
    visibility: visible;
}

.photoCodeLogo {
    width: 10rem;
    z-index: 2;
    visibility: hidden;
}

.bottom {
    margin-bottom: 2rem;
}

@media screen and (max-width: 600px) {
    .projectLibraryTitle {
        font-size: 5rem;
    }
    .allProjects_wrap {
        width: 100%;
        /* align-self: center; */
        /* justify-self: center; */
        align-content: flex-start;
        /* justify-content: center; */
        justify-items: center;
        /* justify-content: center; */
        /* align-items: center; */
    }
}

@media screen and (max-width: 400px) {

}
