/*
Colors: 
    - black: #000000
    - smoky black: #12110D
    - black coffee (dark grey): #373238
    - flame (orange): #EF4F1F
    - blue sapphire: #00678F
    - seashell (cream): #FEF5F1
*/

/* || General Styles */
/* #region */
@font-face {
    font-family: "JetBrains Mono";
    src: url("/assets/fonts/JetBrainsMono/fonts/webfonts/JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face{
    font-family: "Inter";
    src: url("/assets/fonts/Inter/Inter_Variable.ttf") format("truetype");
}

html {
    box-sizing: border-box;
    overflow-x: hidden;
    font-size: 1vw;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    /* background: #AABBCD; */
    background: #A0AECD;
    background: #051622;
    background: #061926;
    background: #000000;
    /* background: #12110D; */
    /* background: #373238; */
    /* background: #14213d; */
    /* background: #add; */
    color: #fffffa;
    color: #FEF5F1;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    overflow-x: hidden;
    
}

body::-webkit-scrollbar {
    display: none;
}

button, .menuButton {
    cursor: pointer;
}
/* #endregion */

/* || Grid Setup */
.grid_wrap {
    max-width: 20000px;
    height: 100%; 
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "header header"
        "main main"
        "proj proj"
        "about about"
        "contact contact"
        "footer footer";
    grid-template-columns: 5% auto;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
}

/* || Main Section */
/* #region */
.main { 
    grid-area: main; 
    margin-top: auto;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 4rem;
}

.intro {
    display: flex;
    flex-direction: row;
}

.welcomeSections {
    width: 100%;
}

.welcomeTitle {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 6rem;
    margin: 0;
}

.orange {
    color: #FB8122;
    color: #EF4F1F;
}

.welcomeBuzz {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2.75rem;
    text-align: center;
}

.welcomeBtnWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.projectBtnColumn {
    flex-direction: column;
}

.resumeBtn {
    text-decoration: none;
    background-color: #12110D;
    color: #239DFB;
    color: #FEF5F1;
    border-radius: 1rem;
    font-size: 2.5rem;
    font-family: 'Titillium Web', sans-serif;
    padding: 10px 20px;
    width: min-content;
    margin: 10px 2rem;
    /* opacity: 0.75; */
    border: 0.25rem solid #738290;
    border: 0.25rem solid #F5865C;
    border: 0.25rem solid #EF4F1F;
    border: 0.25rem solid #00678F; 
}

.resumeBtn:hover {
    color: #EF4F1F; 
}


.welcomeBtn {
    text-decoration: none;
    background-color: gray;
    color: black;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
    padding: 5px 10px;
    width: min-content;
    margin: 10px 0;
}
/* #endregion */

/* || Project Showcase */
/* #region */
.proj {
    grid-area: proj;
    padding: 0 4rem;
}

.projectTitle {
    margin-top: 90px;
    margin-bottom: 0;
    font-size: 6rem;
    width: min-content;
    font-family: 'Glegoo', serif;
    white-space: pre;
    color: #FB8122;
    color: #EF4F1F;
    position: relative;
}

.project_wrap {
    margin: 5rem auto;
    padding: 1rem;
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    
    /* background-color: #FEFEFE; */
    /* background-color: #D7D9CE; */
    background-color: #e1e2e2;
    background-color: #373238;
    /* color: black; */
}

.projectOverviewWrapper {
    display: flex;
    margin-bottom: 2rem;
}

.projectHeader {
    font-size: 4rem;
    margin-bottom: 20px;
    font-family: 'Glegoo', serif;
    margin: 0;
}

.projectDes {
    font-size: 1.5rem;
    font-family: 'Titillium Web', sans-serif;
    margin: 2rem;
}

.arrowWrap {
    grid-area: arrow;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.explore {
    font-family: "JetBrains Mono";
    font-size: 1.5rem;
    margin-right: 1rem;
    margin-top: 1rem;
   
}

.arrow:hover {
    filter: drop-shadow(9px 5px 0px black);
    cursor: pointer;
}

.arrowSize {
    width: 8rem;
    margin-right: 1rem;
}

.photoCodeSpread {
    height: 24rem; 
    width: 37.44rem;
}

.goatifyComputer {
    height: 20rem;
    border-radius: 5px;
}

.projectLibraryWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toProjectLibraryHeader {
    background-color: #12110D;
    color: #239DFB;
    color: #FEF5F1;
    margin-top: 0px;
    padding: 1rem 8rem;
    font-family: 'Titillium Web', sans-serif;
    font-size: 4rem;
    text-decoration: none;
    border-radius: 1rem;
    border: 0.25rem solid #738290;
    border: 0.25rem solid #00678F;
}

.toProjectLibraryHeader:hover {
    color: #EF4F1F; 
    /* background-color: #FEF5F1; */
}
/* #endregion */

/* || About Section */
/* #region */
.about {
    grid-area: about;
    padding: 0 4rem;
    margin-bottom: 10vw;
}

.aboutWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    border-radius: 0.5rem;
    background-color: #407899;
    background-color: #738290;
    background-color: #373238;
    color: #FEF5F1;
}

.aboutHeader {
    margin-top: 50px;
    font-size: 6rem;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Glegoo', serif;
    color: #FB8122;
    color: #EF4F1F;
    width: min-content;
    white-space: pre;
    position: relative;
}

.profilePicture {
    height: 18rem;
    width: 18rem;
    border: 0.15rem solid #00678F;
    border-radius: 0.1rem;
    margin: 30px;
}

.aboutText {
    font-size: 1.5rem;
    font-family: 'Titillium Web', sans-serif;
    margin: 0 20px;
}
/*  #endregion */

@media screen and (max-width: 600px) {
    html {
        font-size: 2vw;
    }
    .main {
        justify-content: center;
        padding: 0 2rem;
    }
    .proj {
        padding: 0 2rem;
    }
    .about {
        padding: 0 2rem;
    }
    .welcomeTitleWrapper{
        margin-top: 10vw;
    }
    .welcomeTitle {
        font-size: 5rem;
    }
    .welcomeMssg {
        margin: 0 20vw;
        /* font-size: 5rem; */
    }
    .profilePicture {
        height: 15rem;
        width: 15rem;
    }
    .aboutWrapper {
        flex-direction: column-reverse;
        width: 85%;
    }
    .aboutHeader {
        font-size: 5rem;
    }
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .aboutText {
        padding-top: 1rem;
    }
    .resumeBtn {
        margin: 10px 1rem;
    }

    .projectOverviewWrapper {
        flex-direction: column;
        align-items: center;
    }

    .project_wrap {
        grid-template-areas: 
            "des"
            "visual"
            "arrow";
        justify-items: flex-start;
        border-radius: 1rem;
    }
    .projectTitle {
        font-size: 5rem;
    }
}

@media screen and (max-width: 400px) {
    html {
        font-size: 2.5vw;
    }
    .main {
        padding: 0 1rem;
    }
    .proj {
        padding: 0 1rem;
    }
    .about {
        padding: 0 1rem;
    }
    .welcomeTitle {
        font-size: 4rem;
    }
    .resumeBtn {
        font-size: 1.5rem;
    }
    .aboutTitle {
        font-size: 4rem;
    }
    .projectTitle {
        font-size: 4rem;
    }

    .toProjectLibraryHeader {
        font-size: 2rem;
    }
    .photoCodeSpread {
        height: 22rem;
        width: 34.32rem;
    }
}

