/*
Colors: 
--rich-black-fogra-39: #0b0c10ff;
--gunmetal: #1f2833ff;
--princeton-orange: #fb8122ff;
--baby-powder: #fffffaff;
--slate-gray: #738290ff;
*/

@font-face {
    font-family: "JetBrains Mono";
    src: url("/assets/fonts/JetBrainsMono/fonts/webfonts/JetBrainsMono-Regular.woff2") format("woff2");
}


html {
    box-sizing: border-box;
    /* height: 100%; */
    overflow-x: hidden;
    font-size: 1vw;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    /* background: #AABBCD; */
    background: #A0AECD;
    background: #051622;
    background: #061926;
    /* background: #add; */
    color: #fffffa;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    overflow-x: hidden;
    
}

body::-webkit-scrollbar {
    display: none;
}

button, .menuButton {
    cursor: pointer;
}

.grid_wrap {
    max-width: 20000px;
    height: 100%; 
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "nav nav"
        "main main"
        "proj proj"
        "about about"
        "contact contact"
        "footer footer";
    grid-template-columns: 5% auto;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
}

.navi { 
    grid-area: nav; 
    /* height: 100%; */
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center; 

}

.navi_btns img {
    max-width: 25px;
}


.main { 
    grid-area: main; 
    margin-top: auto;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro {
    display: flex;
    flex-direction: row;
}

.welcomeSections {
    width: 100%;
}

.welcomeTitleWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-top: 20vh; */
}

.welcomeTitle {
    /* white-space: pre; */
    /* margin-top: 20vh; */
    display: flex;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    font-size: 6rem;
    margin: 0;
}

.orange {
    color: #FB8122;
}




.welcomeMssg {
    font-family: 'Roboto Slab', serif;
    font-size: 2.5rem;
    text-align: center;
}

.welcomeBtnWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.projectBtnColumn {
    flex-direction: column;
}

.resumeBtn {
    text-decoration: none;
    /* background-color: gray; */
    color: #239DFB;
    border-radius: 1rem;
    font-size: 2.5rem;
    font-family: 'Titillium Web', sans-serif;
    padding: 10px 20px;
    width: min-content;
    margin: 10px 2rem;
    /* opacity: 0.75; */
    border: 0.25rem solid #738290;
}


.welcomeBtn {
    text-decoration: none;
    background-color: gray;
    color: black;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
    padding: 5px 10px;
    width: min-content;
    margin: 10px 0;
}

.projectBtn {
    text-decoration: none;
    background: none;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: 'Titillium Web', sans-serif;
    padding: 5px 10px;
    width: min-content;
    margin: 10px 0;
    border: none;
    color: #2CCCC3;
}


.projArrow {
    margin: 0;
}

.arrowVertical {
    text-align: center;
    font-size: 15px;
    margin: -4px;
}



.proj {
    grid-area: proj;
    width: 90vw;
    /* padding-top: 80px; */
}



.about {
    grid-area: about;
    width: 90vw;
    margin-bottom: 10vw;
}

.aboutHeader {
    margin-top: 0;
    font-size: 6rem;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Glegoo', serif;
    color: #FB8122;
}

.contact {
    grid-area: contact;
    width: 90vw;
}

.contactHeader {
    margin-top: 80px;
    font-size: 6vw;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Glegoo', serif;
}

.project_wrap {
    max-width: 20000px;
    /* height: 100%;  */
    margin: 100px auto;
    /* padding: 60px 0; */
    display: grid;
    grid-template-areas:
        "des visual visual"
        "arrow arrow arrow";
    grid-template-columns: 40% auto;
    grid-template-rows: auto;
    /* gap: 10px; */
    padding: 1rem 0;
    
    /* background-color: #007EA7; */
    /* background-image: linear-gradient(#007EA7 20%, #003459); */
    align-items: center;
    justify-items: center;

    border-radius: 25px;
    background-color: #FEFEFE;
    opacity: 0.75;
    width: 75%;
    color: black;
    overflow: hidden;
}

.des {
    grid-area: des;
    padding-left: 5px;
}

.aboutWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    border-radius: 2px;
    background-color: #407899;
    background-color: #738290ff;
    box-shadow: 10px 5px 5px #254658;
}

.profilePicture {
    height: 18rem;
    width: 18rem;
    border: 2px solid #0b0c10ff;
    /* border-radius: 300px; */
    margin: 30px;
}

.aboutText {
    font-size: 1.5rem;
    font-family: 'Titillium Web', sans-serif;
    margin: 0 20px;
}

.arrowWrap {
    grid-area: arrow;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.explore {
    /* transform: translate(-7rem, 0); */
    font-family: "JetBrains Mono";
    font-size: 1.5rem;
    margin-right: 1rem;
    margin-top: 1rem;
   
}

.arrow:hover {
    filter: drop-shadow(9px 5px 0px black);
    cursor: pointer;
}

.arrowSize {
    width: 8rem;
    margin-right: 1rem;
}

.photoCodePhone {
    height: 20rem;
    transform: translate(-32rem, -1rem);
}
.photoCodeComputer {
    /* z-index: -1; */
    height: 20rem;
    transform: translate(3rem, 1rem);
    
}


.visual {
    grid-area: visual;
    display: flex;
    flex-direction: row;
    /* width: ; */
    max-width: 40vw;
}



@media screen and (max-width: 600px) {
    html {
        font-size: 2vw;
    }
    .main {
        justify-content: center;
    }
    .welcomeTitleWrapper{
        margin-top: 10vw;
    }
    .welcomeTitle {
        font-size: 5rem;
    }
    .welcomeMssg {
        margin: 0 20vw;
        /* font-size: 5rem; */
    }
    .profilePicture {
        height: 15rem;
        width: 15rem;
    }
    .aboutWrapper {
        flex-direction: column-reverse;
        width: 85%;
    }
    .aboutHeader {
        font-size: 5rem;
    }
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .aboutText {
        padding-top: 1rem;
    }
    .resumeBtn {
        margin: 10px 1rem;
    }
}

@media screen and (max-width: 400px) {
    html {
        font-size: 2.5vw;
    }
    .welcomeTitle {
        font-size: 4rem;
    }
    .resumeBtn {
        font-size: 1.5rem;
    }
    .aboutTitle {
        font-size: 4rem;
    }
}

