* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  color: white;
  padding: 20px 0;
  overflow: hidden;
}

header div.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1400px;
  margin: 20px;
}

header div.header button {
  background-color: transparent;
  border: none;
}

header div.header button img {
  max-width: 50px;
  width: 70%;
}

header div.header h1,
header div.header h3 {
  text-align: center;
}

div.rso_request {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

div.rso_request div.names {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

div.rso_request div.names label,
div.rso_request div.description label {
  font-size: 31px;
  margin: auto;
}

div.rso_request div.names h3 {
  width: auto;
  max-width: 550px;
  height: 60px;
  background-color: lightgray;
  color: black;
  border: none;
  border: 3px solid lightblue;
  border-radius: 10px;
  padding: 10px 10px;
  font-weight: 550;
  font-size: 26px;
  outline: none;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  overflow: hidden;
  overflow-y: auto;
}

div.rso_request div.names h4 {
  width: auto;
  max-width: 450px;
  height: 60px;
  background-color: lightgray;
  color: black;
  border: none;
  border: 3px solid lightblue;
  border-radius: 10px;
  padding: 10px 10px;
  font-weight: 550;
  font-size: 26px;
  outline: none;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  overflow: hidden;
  overflow-y: auto;
}

div.rso_request div.names h2 {
  width: auto;
  max-width: 500px;
  height: auto;
  max-height: 250px;
  background-color: lightgray;
  color: black;
  border: 3px solid lightblue;
  border-radius: 15px;
  padding: 10px 10px;
  font-weight: 550;
  font-size: 26px;
  outline: none;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  overflow: hidden;
  overflow-y: auto;
}

div.rso_request div.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  margin-left: 170px;
}

div.rso_request div.description h3 {
  width: 600px;
  height: 320px;
  background-color: lightgray;
  color: black;
  border: none;
  border: 3px solid lightblue;
  border-radius: 10px;
  padding: 10px 10px;
  font-weight: 550;
  font-size: 24px;
  outline: none;
  margin: auto;
  margin-bottom: 40px;
  overflow: hidden;
  overflow-y: auto;
}

div.rso_request div.description div.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

div.rso_request div.description div.buttons a {
  font-size: 36px;
  font-weight: 550;
  font-style: 15px;
  background-color: lightgray;
  color: black;
  padding: 10px 10px;
  border: none;
  border-radius: 25px;
  margin: 30px;
}
